<div class="container mt-5">
  <h1>Sample view</h1>
  <p>
    Use <code>~Img/</code> path to add images to the jst tempaltes. Example:
    <br>
    <code>&lt;img src="~Img/350x150.png" alt=""&gt;</code>
  </p>
  <img src="~Img/350x150.png" alt="">
</div>